.banner{
 height: 30vh;
 max-width: 1184px;
 margin: auto;
 box-sizing: border-box;
 border-radius: 5px;
 display: block;
}

.card-img{
    height: 100%;
    width: 50vw;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 .5rem 1.0rem rgba(0,0,0, .15);
    cursor: pointer;
}